*.apk
*.ap_
*.dex
*.class
bin/
gen/
Thumbs.db
.classpath
.project
*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
.idea/vcs.xml
*.iml
.idea/gradle.xml
app/app.iml
Nonpermanence.iml
